# Airflow
apache-airflow==2.10.5
psycopg2-binary==2.9.9
requests==2.32.3

# dbt
dbt-core==1.9.1
dbt-postgres==1.9.0
dbt-duckdb==1.9.0

# Ingestion (Fase 2)
dlt[filesystem,parquet]==1.30.0

# Lakehouse Compute (Fase 2)
duckdb==1.0.0

# Testing & Linting
pytest==8.3.3
ruff==0.6.8
sqlfluff==3.2.0

# Data Quality (Fase 3)
soda-core-duckdb==3.5.6
soda-core-postgres==3.5.6
